extends layout

block content
  brbr
  a(href="/auth/google") Login with Github !
  p -------------
  a(href="/auth/github") Login with Google !
  p ------------
  a(href="https://www.instagram.com/oauth/authorize/?client_id=e9d5d8a38bc94b56856b41206200e240&redirect_uri=http://localhost:8080&response_type=token&scope=public_content") Login with Instagram !
